//FONT-WEIGHTS
$fw-large: 500;
$fw-normal: 400;
$fw-small: 300;

//COLORS
$neutral-blue-color: hsl(246, 80%, 60%) ;
$dark-blue-color: hsl(235, 46%, 20%);
$light-blue-color: hsl(235, 45%, 61%) ;

//TYPOGRAPHY
$fs-1: 11px;
$fs-2: 18px;
$fs-3: 24px;
$fs-4: 32px;

//BORDER-RADIUS
$border-radius: 10px;

